/* Dark mode setup */
:root[data-dark-mode="true"] {
    background: #192232;
    color: white;
}

/* Base styles for root and body */
:root,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Fit dropdown to its content and align */
#directoryForm {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#directory {
    width: auto;
    max-width: 400px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
}

#directoryForm button {
    margin-right: 10px;
}

/* Align reset button next to the load button */
#resetButton {
    margin-left: 10px;
}

/* Change chart background color */
#chartContainer {
    background-color: var(--chart-background-color);
}

/* Button styles */
button:not(#myGrid button, #myChart button, button[class*="ag-"], .ag-chart-context-menu button) {
    --background-color: transparent;
    --text-color: #212529;
    --color-border-primary: #d0d5dd;
    --hover-background-color: rgba(0, 0, 0, 0.1);

    appearance: none;
    border: 1px solid var(--color-border-primary);
    border-radius: 6px;
    height: 36px;
    color: var(--text-color);
    background-color: var(--background-color);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.01em;
    padding: 0.375em 1em 0.5em;
    white-space: nowrap;
    margin-right: 6px;
    margin-bottom: 8px;
    transition: background-color 0.25s ease-in-out;
}

button:not(#myGrid button, #myChart button, button[class*="ag-"], .ag-chart-context-menu button):hover {
    background-color: var(--hover-background-color);
}

:root[data-dark-mode="true"] button:not(#myGrid button, #myChart button, button[class*="ag-"], .ag-chart-context-menu button) {
    --text-color: #f8f9fa;
    --color-border-primary: rgba(255, 255, 255, 0.2);
    --hover-background-color: #2a343e;
}

:root[data-dark-mode="true"] {
    --background-color: #192232;
    --text-color: #f8f9fa;
    --chart-background-color: #101010;
}

:root[data-dark-mode="false"] {
    --background-color: #557777;
    --text-color: #dddddd;
    --chart-background-color: #81bbca;
}
